.vscode/*

# tex files
build/*.bbl
build/*.gz
build/*.xml
build/*.aux
build/*.bcf
build/*.blg
build/*.fdb_latexmk
build/*.fls
build/*.log
build/*.out
build/*.toc
build/*bbl-SAVE-ERROR
build/*bcf-SAVE-ERROR

sn-article/build/*.bbl
sn-article/build/*.gz
sn-article/build/*.xml
sn-article/build/*.aux
sn-article/build/*.bcf
sn-article/build/*.blg
sn-article/build/*.fdb_latexmk
sn-article/build/*.fls
sn-article/build/*.log
sn-article/build/*.out
sn-article/build/*.toc
sn-article/build/*bbl-SAVE-ERROR
sn-article/build/*bcf-SAVE-ERROR

*/build/*.bbl
*/build/*.gz
*/build/*.xml
*/build/*.aux
*/build/*.bcf
*/build/*.blg
*/build/*.fdb_latexmk
*/build/*.fls
*/build/*.log
*/build/*.out
*/build/*.toc
*/build/*bbl-SAVE-ERROR
*/build/*bcf-SAVE-ERROR

**/build/*.bbl
**/build/*.gz
**/build/*.xml
**/build/*.aux
**/build/*.bcf
**/build/*.blg
**/build/*.fdb_latexmk
**/build/*.fls
**/build/*.log
**/build/*.out
**/build/*.toc
**/build/*bbl-SAVE-ERROR
**/build/*bcf-SAVE-ERROR

# generated html files
gap/stl/spacegrps/*.html
